# dependencies
node_modules
.idea
contents/*
coverage

# logs
npm-debug.log

# Nuxt build
.nuxt

# Nuxt generate
dist
contents/missions/7_missions_ANEF.md
contents/missions/7_missions_CANAL.md
contents/missions/7_missions_CM.md
contents/missions/7_missions_conges.md
contents/missions/7_missions_explo.md
contents/missions/7_missions_GRT.md
contents/missions/7_missions_IPSEN.md
contents/missions/7_missions_meetic.md
contents/missions/7_missions_PIX.md
contents/missions/7_missions_randstad.md
contents/missions/7_missions_RG.md
